body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

button {
  background: #ff4d6d;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #e63956;
}
h1 {
  color: #6c63ff;
}